

#Mode
NODE_ENV="development"

# Database
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Inngest
INNGEST_DEV=1

# Google Generative AI
GOOGLE_GENERATIVE_AI_API_KEY=

# OpenAI
OPENAI_API_KEY=

# Anthropic
ANTHROPIC_API_KEY=

# Sentry io
SENTRY_AUTH_TOKEN=

# Polar
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL=

# Others
NEXT_PUBLIC_APP_URL=http://localhost:3000
NGROK_URL=


# Encryption
ENCRYPTION_KEY=your_encryption_key_here

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

